body {
  background: #f4f7fb;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1{
    background-color: rgb(20, 106, 182);
}

.box1 {
    background-color: aqua;
}
.box2 {
    background-color: aquamarine;
    /* margin: 50px 50px; */
    width: 50%;
    margin: 10px auto;
    padding: 100px;
}
.box3 {
    background-color: blue;
}